[Unit]
Description=Init docker script
DefaultDependencies=no
Conflicts=shutdown.target
After=sysinit.target plymouth-start.service
Before=shutdown.target

[Service]
EnvironmentFile=/etc/environment
ExecStart=-/bin/bash -c "\
echo --------------------------------------------------------------------------------; \
trap poweroff EXIT; \
source /etc/environment; \
if [ -f /bin/start.sh ]; then /bin/start.sh; else /bin/bash; fi; \
echo --------------------------------------------------------------------------------; \
"
Type=idle
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
KillMode=process
IgnoreSIGPIPE=no
SendSIGHUP=yes

[Install]
WantedBy=multi-user.target
